.container {
    display: flex;
    justify-content: center;
    align-item: space-between;
}

.boxes {
    border: 4px solid black padding: 2.0em;
    font-size: 1.2em;
    font-family: verdana;
    text-align: left;
}

#box1 {
    background-color: ;
    width: 50%;
    height: 50%;
}